$primary: #3C50C8;
$background: #F0F0F5;
$text: #0A143C;
$greyText: #8C96A0;
$greyEl: #F0F0F5;
$white: #FFFFFF;

@mixin daikonFont($fontSize,
                $fontStyle,
                $fontWeight,
                $lineHeight,
                $color){
  font-family: 'Daikon';
  font-style: $fontStyle;
  font-weight: $fontWeight;
  font-size: $fontSize + px;
  line-height: $lineHeight;
  color: $color;
}

